body {
  width: 450px;
  margin: auto;
}
.Post{
  margin: 12px auto;
  padding: 12px 20px;
  border: 1px solid #eee;
  border-radius: 4px;
}

.Post__Image{
  max-width: 420px;
}

a{
  text-decoration: none;
  text-transform: uppercase;
}

a.active{
  text-decoration: underline;
  color: red;
}